<top-bar></top-bar>
<div class="row m-t-md">
    <div class="col-md-12">
        <button class="btn btn-primary pull-right" ng-click="reporteEmpresas()">Generar Reporte General</button>
        <button class="btn btn-primary pull-right" ng-click="descargarReporteEmpresas()" ng-show="encabezadoReporte">Descargar Reporte</button>
    </div>
</div>
<div class="wrapper wrapper-content" ng-init="init()" ng-show="muestraxempresa">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-md-8">
                            <h5>PLAN PISO {{currentEmpresa}}</h5>
                        </div>
                        <div class="col-md-4 text-right">
                            {{today}}
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <!-- <div class="col-md-12">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="thNoneReporte"></th>
                                        <th colspan="3" class="thReporte text-center">Tasa de Interés</th>
                                        <th class="thNoneReporte"></th>
                                        <th class="thNoneReporte"></th>
                                        <th class="thNoneReporte"></th>
                                        <th class="thNoneReporte"></th>
                                        <th colspan="6" class="thReporte text-center">Unidades</th>
                                    </tr>
                                    <tr>
                                        <th class="thReporte thNoneReporte">Financiera</th>
                                        <th class="thReporte">TIIE</th>
                                        <th class="thReporte">Puntos</th>
                                        <th class="thReporte"></th>
                                        <th class="thReporte thNoneReporte">Línea Autorizada</th>
                                        <th class="thReporte thNoneReporte"></th>
                                        <th class="thReporte thNoneReporte">Línea utilizada</th>
                                        <th class="thReporte thNoneReporte">Línea disponible</th>
                                        <th class="thReporte"></th>
                                        <th class="thReporte">Inventario</th>
                                        <th class="thReporte">Unidades en Estrella</th>
                                        <th class="thReporte">Estrella</th>
                                        <th class="thReporte">Unidades doble Estrella</th>
                                        <th class="thReporte">Doble Estrella</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="datoReporte in datosReporte">
                                        <td>{{datoReporte.nombre}}</td>
                                        <td>{{datoReporte.tiie}}</td>
                                        <td>{{datoReporte.puntos}}</td>
                                        <td>{{datoReporte.puntos + datoReporte.tiie}}</td>
                                        <td class="text-right">{{datoReporte.lineaAutorizada | currency}}</td>
                                        <td>{{datoReporte.unidades}}</td>
                                        <td class="text-right">{{datoReporte.saldo | currency}}</td>
                                        <td class="text-right">{{datoReporte.lineaAutorizada - datoReporte.saldo | currency}}</td>
                                        <td>{{datoReporte.unidades}}</td>
                                        <td class="text-right">{{datoReporte.saldo | currency}}</td>
                                        <td>{{datoReporte.estrella}}</td>
                                        <td class="text-right">{{datoReporte.estrellaMonto | currency}}</td>
                                        <td>{{datoReporte.dobleEstrella}}</td>
                                        <td class="text-right">{{datoReporte.dobleEstrellaMonto | currency}}</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td>{{ totalUnidades }}</td>
                                        <td class="text-right">{{ totalLineaUtilizada | currency}}</td>
                                        <td></td>
                                        <td>{{ totalUnidadesInventario }}</td>
                                        <td class="text-right">{{totalIventario | currency}}</td>
                                        <td>{{unidadesEstrella}}</td>
                                        <td class="text-right">{{totalEstrella | currency}}</td>
                                        <td>{{unidadesDobleE}}</td>
                                        <td class="text-right">{{totalDobleE | currency}}</td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-primary pull-right" ng-click="descargarReporte()">Descargar Reporte</button>
                        </div> -->
                        <div class="col-md-12">
                            <div id="grid1" ui-grid="gridOptions" ui-grid-pinning ui-grid-expandable></div>
                        </div>
                        <div class="col-md-12 m-t-md">
                            <button class="btn btn-primary pull-right" ng-click="descargarReporteEmpresa()">Descargar Reporte</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper wrapper-content" ng-hide="muestraxempresa">
    <div class="row" ng-repeat="empresa in encabezadoReporte">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <div class="row">
                        <div class="col-md-8">
                            <h5>PLAN PISO {{empresa.emp_nombre}}</h5>
                        </div>
                        <div class="col-md-4 text-right">
                            {{today}}
                        </div>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="grid1" ui-grid="empresa.group" ui-grid-pinning ui-grid-expandable></div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="header.html">
  <div role="rowgroup" class="ui-grid-header">
    <!-- theader -->
    <div class="ui-grid-top-panel">
      <div class="ui-grid-header-viewport">
        <div class="ui-grid-header-canvas">
          <div class="ui-grid-header-cell-wrapper">
            <table class="table table-bordered" ng-style="{width: colContainer.canvasWidth + 'px'}">
              <colgroup>
                <col ng-repeat="col in colContainer.visibleColumnCache track by col.uid" ng-style="{width: col.width + 'px'}">
              </colgroup>
              <thead>
                <tr ng-repeat="pos in grid.options.headerAppends.index">
                  <th ng-if="col.colDef.headers[pos].rowSpan !== '#rowSpan' && col.colDef.headers[pos].colSpan !== '#colSpan'" rowspan="{{col.colDef.headers[pos].rowSpan}}" colspan="{{col.colDef.headers[pos].colSpan}}" ng-style="{height: ((col.colDef.headers[pos].rowSpan || 1) * grid.options.headerAppends.height) + 'px'}"
                  ng-repeat="col in colContainer.visibleColumnCache track by col.uid">
                    {{col.colDef.headers[pos].label}}
                  </th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>