<link href="assets/css/aplicaPago.css" rel="stylesheet">
<div class="modal fade" id="modalGridLote" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">
                    <div class="row">
                        <!--  <div class="col-sm-12">
                            <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
                        </div> -->
                        <div class="col-sm-6">
                            <strong>{{nombreLote}}</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            <h3>{{sumaDocumentos | currency}}</h3>
                        </div>
                    </div>
                </h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <h3>Se guardara el lote con los siguientes documentos</h3>
                        <div id="grid2" ui-grid="gridOptions2" ui-grid-grouping ui-grid-cellNav class="gridStyle"></div>
                    </div>
                    <div ng-show="noMostrar">
                        <div class="col-sm-12" ng-hide="mostrarAlerta">
                            <div ng-show="!muestraInteresesBanamex">
                                <h3>Los siguientes documentos tienen el siguiente interes </h3>
                                <table id="consultaLotes" class="table table-striped">
                                    <tr>
                                        <th>Documento</th>
                                        <th>Vin</th>
                                        <th>Puntos</th>
                                        <th>TIIE</th>
                                        <th>Penetración</th>
                                        <th>Interes</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Fin</th>
                                        <th>Días</th>
                                        <th>Intereses</th>
                                    </tr>
                                    <tr ng-repeat="interesUnidad in arrayInteresUnidad">
                                        <td>{{interesUnidad.documento}}</td>
                                        <td>{{interesUnidad.vin}}</td>
                                        <td>{{interesUnidad.puntos}}</td>
                                        <td>{{interesUnidad.tiie}}</td>
                                        <td>{{interesUnidad.penetracion}}</td>
                                        <td>{{interesUnidad.Interes}}</td>
                                        <td>{{interesUnidad.fechainicio | date:'dd/MM/yyyy' : 'UTC'}}</td>
                                        <td>{{interesUnidad.fechafin | date:'dd/MM/yyyy' : 'UTC'}}</td>
                                        <td><input type="text" class="form-control" ng-model="interesUnidad.dias" style="width: 100px" ng-change="cambioDias(interesUnidad.dias,{{interesUnidad.dias}}, $index, interesUnidad.Interes)"></td>
                                        <td class="text-right"><input type="text" class="form-control" ng-model="interesUnidad.totalInteres" style="width: 100px"></td>
                                    </tr>
                                </table>
                                <div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios1" ng-value="1" checked ng-model="agrupado">
                                            Vencimiento (Agrupa interes y pago de unidad)
                                        </label>
                                    </div>
                                    <div class="radio">
                                        <label>
                                            <input type="radio" name="optionsRadios" id="optionsRadios2" ng-value="0" ng-model="agrupado">
                                            Pago Usuario (No agrupa interes y pago de unidad)
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div ng-show="muestraInteresesBanamex">
                                <h3>Los siguientes documentos tienen el siguiente interes </h3>
                                <table id="consultaLotes" class="table table-striped">
                                    <tr>
                                        <th>Documento</th>
                                        <th>Vin</th>
                                        <th>Tasa</th>
                                        <th>Penetración</th>
                                        <th>Interes</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Fin</th>
                                        <th>Días</th>
                                        <th>Intereses</th>
                                    </tr>
                                     <tr ng-repeat="interesUnidad in arrayInteresUnidad">
                                        <td>{{interesUnidad.documento}}</td>
                                        <td>{{interesUnidad.documento}}</td>
                                        <td class="text-right"><input type="text" class="form-control" ng-model="interesUnidad.tasa" style="width: 100px" ng-change="cambioTasa(interesUnidad, $index)"></td>
                                        <td>{{interesUnidad.penetracion}}</td>
                                        <td>{{interesUnidad.Interes}}</td>
                                        <td>{{interesUnidad.fechainicio | date:'dd/MM/yyyy' : 'UTC'}}</td>
                                        <td>{{interesUnidad.fechafin | date:'dd/MM/yyyy' : 'UTC'}}</td>
                                        <td><input type="text" class="form-control" ng-model="interesUnidad.dias" style="width: 100px" ng-change="cambioDias(interesUnidad.dias,{{interesUnidad.dias}}, $index, interesUnidad.Interes)"></td>
                                        <td class="text-right"><input type="text" class="form-control" ng-model="interesUnidad.totalInteres" style="width: 100px"></td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="col-sm-12 bg-danger" ng-show="mostrarAlerta">
                            <h3>El saldo no corresponde, favor de actualizar su cartera </h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-sm-12">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                        <!-- <button type="button" class="btn btn-primary" data-dismiss="modal" ng-show="montoIgual">Intereses</button> -->
                        <!-- <button type="button" class="btn btn-primary" data-dismiss="modal">Guardar</button> -->
                        <button type="button" class="btn btn-success" ng-show="BotonGuardarLote" ng-click="guardarLote()">Guardar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>