<table id="tblUnidadesNuevas" class="table table-striped">
    <thead>
        <tr>
            <th>Num Documento</th>
            <th>Descripcion</th>
            <th>Tipo documento</th>

            <th>VIN</th>
            <th>Marca</th>
            <th>Descripción Modelo</th>
            <th>Modelo</th>
            <th>Precio venta</th>
            <th>Fecha Cálculo</th>
            <th>Saldo Inicial</th>
            <th>
                <input type="checkbox" ng-click="checkAllUnits()" ng-model="allUnits.isChecked" style="margin-left: 20px;">
            </th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="unidad in lstNewUnits" repeat-end="initTblUnidadesNuevas()">
            <td>{{unidad.CCP_IDDOCTO}}</td>
            <td>{{unidad.DES_CARTERA}}</td>
            <td>{{unidad.DES_TIPODOCTO}}</td>
            <td>{{unidad.vehNumserie}}</td>
            <td>{{unidad.marca}}</td>
            <td>{{unidad.descModelo}}</td>
            <td>{{unidad.modelo}}</td>
            <td>{{unidad.IMPORTE}}</td>
            <td style="width:200px">
                <div class="input-group date" data-provide="datepicker">
                    <input type="text" class="form-control" ng-model="unidad.fechaCalculoString">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </td>
            <td><input type="text" class="form-control" ng-model="unidad.SALDO" style="width: 100px"></td>
            <td style="text-align: center;">
                <input type="checkbox" ng-model="unidad.isChecked" ng-init="unidad.isValid=true">
            </td>
        </tr>
    </tbody>
</table>