<div class="row">
    <div class="col-md-4">
        <div class="dropdown">
            <button class="btn btn-warning" type="button" data-toggle="dropdown">
                {{currentFinancialName}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="financial in lstFinancial">
                    <a ng-click="setCurrentFinancial(financial)">{{financial.nombre}}</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <b>Total Sistema</b>
        <h2><b>{{total.sistema | currency}}</b></h2>
    </div>
    <div class="col-md-4">
        <b>Total Archivo</b>
        <h2><b>{{total.archivo | currency}}</b></h2>
    </div>
</div>
<hr>
<table id="tblConciliacion" class="table table-striped">
    <thead>
        <tr>
            <th>Numero Serie</th>
            <th>Valor</th>
            <th>Interes Mes Actual</th>
            <th>Interes Archivo</th>
            <th>Descripción</th>
            <th>Diferencia</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="dato in lstConceal" repeat-end="setTableStyle('#tblConciliacion')">
            <td>{{dato.numeroSerie}}</td>
            <td>{{dato.valor | currency}}</td>
            <td>{{dato.InteresMesActual | currency}}</td>
            <td>{{dato.interes | currency}}</td>
            <td>{{dato.esMayor == 1 ? 'Iguales' : dato.esMayor == 2 ? 'Interés archivo menor a sistema' : 'Interés archivo mayor a sistema'}}</td>
            <td ng-class=" dato.esMayor == 1 ? 'celdaFondoVerde' : dato.esMayor == 2 ? 'celdaFondoAmarillo' : 'celdaFondoRojo'  ">{{dato.diferencia| currency}}</td>
        </tr>
    </tbody>
</table>
<button type="button" class="btn btn-info" ng-click="prevStep()">Regresar</button>
<button type="button" class="btn btn-primary pull-right" ng-click="conceal()">Conciliar</button>