<table id="tblSchemas" class="table table-striped">
    <thead>
        <tr>
            <th>idEsquema</th>
            <th>diasGracia</th>
            <th>plazo</th>
            <th>idFinanciera</th>
            <th>nombre</th>
            <th>descripcion</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="schema in lstSchemas" repeat-end="setTableStyle('#tblSchemas')">
            <td>{{schema.esquemaID}}</td>
            <td>{{schema.diasGracia}}</td>
            <td>{{schema.plazo}}</td>
            <td>{{schema.idFinanciera}}</td>
            <td>{{schema.nombre}}</td>
            <td>{{schema.descripcion}}</td>
            <td>
                <input type="checkbox" ng-model="schema.isChecked" ng-click="uncheckSchemas(schema)">
            </td>
        </tr>
    </tbody>
</table>
