<div class="row">
    <div class="col-md-12">
        <table id="tblPagoAplicado" class="table table-striped">
            <thead>
                <tr>
                    <th>Concepto</th>
                    <th>Tipo proceso</th>
                    <th>Sucursal</th>
                    <th>Consecutivo poliza</th>
                    <th>Mes poliza</th>
                    <th>Año poliza</th>
                    <th>Estatus</th>
                    <th>Fecha Creación</th>
                    <th>Detalle</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="unidad in lstUnitsPending" repeat-end="setTableStyle('#tblPagoAplicado')">
                    <td>{{unidad.ple_concepto}}</td>
                    <td>{{unidad.tipoproceso}}</td>
                    <td>{{unidad.sucursal}}</td>
                    <td>{{unidad.ple_conspol}}</td>
                    <td>{{unidad.ple_mes}}</td>
                    <td>{{unidad.anio}}</td>
                    <td>{{unidad.ple_estatus}}</td>
                    <td>{{unidad.ple_fechapoliza}}</td>
                    <td>
                        <button type="button" class="btn btn-success btn-sm" ng-click="showDetail(unidad)"><span class="glyphicon glyphicon-eye-open"></span></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>