<top-Bar></top-Bar>
<div class="wrapper wrapper-content" ng-init="OnInit();">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Reducción</h5>
                </div>
                <div class="ibox-content">
                    <!-- <div class="alert alert-warning" role="alert">
                        <h4 class="alert-heading">
                            <i class="fa fa-exclamation-triangle" aria-hidden="true"></i> TIIE no esta actualizada!
                        </h4>
                        <p>Es necesario mantener actualizada la TIIE para que las operaciones se realialicen de forma adecuada.</p>
                        <hr>
                        <p class="mb-0">
                            <b>NOTA:</b> El porcentaje que se muestra en el campo, es el sugerido por el Banco de México.
                        </p>
                    </div> -->
                    <div class="col-md-6">
                        <h2><span class="text-navy">Esquemas</span></h2>
                    </div>
                    <div class="col-md-6">
                        <div class="pull-right">
                            <button class="btn btn-warning" ng-click="setStatusFilter(1)">
                                Por Vencer <span class="badge">{{ cantStatus.porvencer }}</span>
                            </button>
                            <button class="btn btn-danger" ng-click="setStatusFilter(0)">
                                Vencidos <span class="badge">{{ cantStatus.vencido }}</span>
                            </button>
                            <button class="btn btn-primary" ng-click="setStatusFilter(2)">
                                Vigentes <span class="badge">{{ cantStatus.vigente }}</span>
                            </button>
                        </div>
                    </div>
                    <hr>
                    <table class="table table-hover tblReprogramacion">
                        <thead>
                            <tr>
                                <th>Estatus</th>
                                <th>Financiera</th>
                                <th>Esquema</th>
                                <th>Plazo</th>
                                <th>Descripción</th>
                                <th>Interes Moratorio</th>
                                <th>Fecha Inicio</th>
                                <th>Fecha Fin</th>
                                <th>Porcentaje Penetración</th>
                                <th>Días Disponibles</th>
                                <th>Documentos Asignados</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in lstEsquemas | filter:{ estatus: filterStarus }">
                                <td>
                                    <span ng-show="item.estatus == 0" class="label label-danger">Vencido</span>
                                    <span ng-show="item.estatus == 1" class="label label-warning">Por Vencer</span>
                                    <span ng-show="item.estatus == 2" class="label label-primary">Vigente</span>
                                </td>
                                <td>{{item.Financiera}}</td>
                                <td>{{item.nombre}}</td>
                                <td>{{item.plazo}}</td>
                                <td>{{item.descripcion}}</td>
                                <td>{{item.interesMoratorio}}</td>
                                <td>{{item.fechaInicio.split('T')[0]}}</td>
                                <td>{{item.fechaFin.split('T')[0]}}</td>
                                <td>{{item.porcentajePenetracion}}</td>
                                <td>{{item.diasDisponibles}}</td>
                                <td>
                                    {{item.TotalDocumentos}}
                                    <button class="btn btn-default btn-sm pull-right">
                                        <i class="fa fa-sticky-note-o" aria-hidden="true"></i> Ver Más
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>

                <div class="ibox-footer" style="overflow: hidden;">
                    <button class="btn btn-success pull-right">
                        Siguiente <i class="fa fa-angle-right" style="font-size: 20px" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>