<top-Bar></top-Bar>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <unuevas-Content-Header></unuevas-Content-Header>
                </div>
                <div class="ibox-content">
                    <div class="simpleStep">
                        <ul ng-repeat="step in steps">
                            <li ng-class="step.className">
                                <a href="#">{{step.name}}</a>
                            </li>
                        </ul>
                        <div style="clear:both;"></div>
                    </div>
                    <div ng-switch on="currentPanel" style="padding:10px; background-color: #fff; margin:8px;">
                        <div ng-switch-when="pnlSeleccionar" class="animated fadeInRight">
                            <unuevas-Seleccion></unuevas-Seleccion>
                            <button type="button" class="btn btn-success btn-sm pull-right" ng-click="nextStep()">Siguiente</button>
                        </div>
                        <div ng-switch-when="pnlFinanciera" class="animated fadeInRight">
                            <unuevas-Financiera></unuevas-Financiera>
                            <button type="button" class="btn btn-success btn-sm" ng-click="prevStep()">Anterior</button>
                            <button type="button" class="btn btn-success btn-sm pull-right" ng-click="nextStep()">Siguiente</button>
                        </div>
                        <div ng-switch-when="pnlAplicar" class="animated fadeInRight">
                            <unuevas-Aplicar></unuevas-Aplicar>
                            <button type="button" class="btn btn-success btn-sm" ng-click="prevStep()">Anterior</button>
                            <button type="button" class="btn btn-info btn-sm pull-right" ng-click="showMsg()">Finalizar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
