<div class="row">
    <div class="col-md-12">
        <table id="tblDetalle" class="table table-striped">
            <thead>
                <tr>
                    <th>Documento</th>
                    <th>Num Cuenta</th>
                    <th>VIN</th>
                    <th>interesCalculado</th>
                    <th ng-hide="objEdit.visible">interesUsuario</th>
                    <th ng-show="objEdit.visible">interesUsuario</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="unidad in lstUnitDeatil" repeat-end="setTableStyle('#tblDetalle')">
                    <td>{{unidad.pld_iddocumento}}</td>
                    <td>{{unidad.pld_numcuenta}}</td>
                    <td>{{unidad.pld_vin}}</td>
                    <td>{{unidad.interesCalculado}}</td>

                    <td ng-hide="objEdit.visible">{{unidad.pld_cargo}}</td>
                    <td ng-show="objEdit.visible">
                        <input type="text" ng-model="unidad.pld_cargo" class="form-control">
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<button type="button" class="btn btn-success" ng-click="prevStep()">regresar</button>