<div class="row">
    <div class="col-md-12">
        <table id="tblDetalle" class="table table-striped">
            <thead>
                <tr>
                    <th>Documento</th>
                    <th>Cuenta</th>
                    <th>Concepto</th>
                    <th>VIN</th>
                    <th>Cargo</th>
                    <th>Abono</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="unidad in lstUnitDeatil">
                    <td>{{unidad.pld_iddocumento}}</td>
                    <td>{{unidad.pld_numcuenta}}</td>
                    <td>{{unidad.pld_concepto}}</td>
                    <td>{{unidad.pld_vin}}</td>
                    <td>{{unidad.pld_cargo}}</td>
                    <td>{{unidad.pld_abono}}</td>



                </tr>
            </tbody>
        </table>
    </div>
</div>

<button type="button" class="btn btn-success" ng-click="prevStep()">regresar</button>