<hr>
<div class="row">

    <div class="col-sm-2">
        <div class="form-group">
            <label for="tipoPagoInteres">Tipo Pago Interes:</label>
            <select id="tipoPagoInteres" ng-options="lst.tipoPagoInteres for lst in lsttipoPagoInteres" ng-model="financieraHeader.selectedtipoPagoInteres" class="form-control"></select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="tipoPagoMensual">Tipo Pago Mensual:</label>
            <select id="tipoPagoMensual" ng-options="lst.tipoPagoMensual for lst in lsttipoPagoMensual" ng-model="financieraHeader.selectedtipoPagoMensual" class="form-control"></select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="tipoSOFOM">Tipo SOFOM:</label>
            <select id="tipoSOFOM" ng-options="lst.tipoSOFOM for lst in lsttipoSOFOM" ng-model="financieraHeader.selectedtipoSOFOM" class="form-control"></select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="tipoCobroInteres">Tipo Cobro Interes:</label>
            <select id="tipoCobroInteres" ng-options="lst.tipoCobroInteres for lst in lsttipoCobroInteres" ng-model="financieraHeader.selectedtipoCobroInteres" class="form-control"></select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="tipoCompensacion">Tipo Compensacion:</label>
            <select id="tipoCompensacion" ng-options="lst.tipoCompensacion for lst in lsttipoCompensacion" ng-model="financieraHeader.selectedtipoCompensacion" class="form-control"></select>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-6">
        <button type="button" class="btn btn-success" ng-click="backToPrincipal()">Regresar</button>
    </div>
    <div class="col-sm-6">
        <button type="button" ng-hide="showEditBtn" class="btn btn-primary pull-right" ng-click="validateSchemaHeader()">Guardar</button>
        <button type="button" ng-show="showEditBtn" class="btn btn-primary pull-right" ng-click="validateSchemaHeaderEdit()">Guardar Edición</button>
    </div>
</div>