<top-bar></top-bar>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <unidades-header></unidades-header>
                </div>
                <div class="ibox-content">
                    <step-unidades></step-unidades>
                    <div style="padding:10px; background-color: #fff; margin:8px;">
                        <div  ng-show="showStep == 1" class="animated fadeInRight">
                            <proveedor-detalle></proveedor-detalle>
                            <button type="button" class="btn btn-success btn-sm pull-right" ng-click="nextStep()">Siguiente</button>
                        </div>
                        <div ng-show="showStep == 2" class="animated fadeInRight">
                            <esquema-unidades></esquema-unidades>
                            <button type="button" class="btn btn-success btn-sm" ng-click="prevStep()">Anterior</button>
                            <button type="button" class="btn btn-success btn-sm pull-right" ng-click="nextStep()">Siguiente</button>
                        </div>
                        <div ng-show="showStep == 3" class="animated fadeInRight">
                            <proveedor-aplicar></proveedor-aplicar>
                            <button type="button" class="btn btn-success btn-sm" ng-click="prevStep()">Anterior</button>
                            <button type="button" class="btn btn-info btn-sm pull-right" ng-click="showMsg()" ng-hide="muestrafinalizar">Finalizar</button>
                        </div>
                    </div>
                </div>
                <!-- <div class="ibox-content">
                    <div ng-switch on="currentPanel">
                        <div ng-switch-when="pnlPendientes" class="animated fadeInRight">
                            <h2><span class="text-navy">Unidades de proveedores </span></h2>
                            <proveedor-Pendiente></proveedor-Pendiente>
                        </div>

                        <div ng-switch-when="pnlDetalle" class="animated fadeInRight">
                            <h2><span class="text-navy">Detalle {{currentPayName}}</span></h2>
                            <proveedor-Detalle></proveedor-Detalle>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>