<top-bar></top-bar>
<div ng-controller="interesController">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row" ng-hide="currentPanel == 'pnlCompensacion'">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="dropdown setInline">
                                    <button class="btn btn-warning" type="button" data-toggle="dropdown">{{currentSucursalName}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a ng-click="setCurrentSucursal()">Todas Sucursales</a>
                                        </li>
                                        <li ng-repeat="sucursal in lstSucursal">
                                            <a ng-click="setCurrentSucursal(sucursal)">{{sucursal.nombreSucursal}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="dropdown setInline" ng-show="ddlFinancialShow">
                                    <button class="btn btn-warning" type="button" data-toggle="dropdown">
                                        {{currentFinancialName}}
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu">
                                        <li ng-repeat="financial in lstFinancial">
                                            <a ng-click="setCurrentFinancial(financial)">{{financial.nombre}}</a>
                                        </li>
                                    </ul>
                                </div>
                                <br />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row m-t-sm" ng-hide="currentPanel == 'pnlCompensacion'">
            <div class="col-md-12">
                <interes-dashboard></interes-dashboard>
            </div>
        </div>
        <div class="row m-t-sm">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <!-- <div class="ibox-title">
                    <interes-Content-Header></interes-Content-Header>
                </div >-->
                    <div class="ibox-content">
                        <div ng-switch on="currentPanel">
                            <div ng-switch-when="pnlInteres" class="animated fadeInRight">
                                <interes-content-header></interes-content-header>
                                <hr>
                                <interes-interes class></interes-interes>
                            </div>
                            <div ng-switch-when="pnlAgencia" class="animated fadeInRight">
                                <interes-cambio-agencia></interes-cambio-agencia>
                            </div>
                            <!-- Traspaso -->
                            <div ng-controller="traspasoController">
                                <div ng-switch-when="pnlFinanciera" class="animated fadeInRight">
                                    <interes-traspaso-financiera></interes-traspaso-financiera>
                                </div>
                                <div ng-switch-when="pnlResumen" class="animated fadeInRight">
                                    <interes-resumen></interes-resumen>
                                </div>
                            </div> <!-- / Traspaso -->
                            <div ng-switch-when="pnlDetalleUnidad" class="animated fadeInRight">
                                <interes-detalle-unidad></interes-detalle-unidad>
                            </div>
                            <div ng-switch-when="pnlPagoResumen" class="animated fadeInRight">
                                <interes-pago-resumen></interes-pago-resumen>
                            </div>
                            <div ng-switch-when="pnlPagoUnidadResumen" class="animated fadeInRight">
                                <interes-pago-unidad-resumen></interes-pago-unidad-resumen>
                            </div>
                            <div ng-switch-when="pnlInteresMovimientos" class="animated fadeInRight">
                                <interes-movimientos></interes-movimientos>
                            </div>
                            <div ng-switch-when="pnlInteresReduccion" class="animated fadeInRight">
                                <interes-pago-reduccion></interes-pago-reduccion>
                            </div>
                            <div ng-switch-when="pnlPagoInteres" class="animated fadeInRight">
                                <interes-pago></interes-pago>
                            </div>
                            <div ng-switch-when="pnlSpread" class="animated fadeInRight">
                                <interes-spread></interes-spread>
                            </div>
                            <div ng-switch-when="pnlRecalcular" class="animated fadeInRight">
                                <interes-recalcular></interes-recalcular>
                            </div>
                            <div ng-switch-when="pnlCompensacion" class="animated fadeInRight">
                                <interes-compensacion></interes-compensacion>
                            </div>
                            <div ng-switch-when="pnlCompensacionResumen" class="animated fadeInRight">
                                <interes-compensacion-resumen></interes-compensacion-resumen>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>