<table id="tblSchemas" class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Días Gracia</th>
            <th>Plazo</th>
            <th>Fecha Creación</th>
            <th>Tasa Interes</th>
            <th>Fecha Inicio</th>
            <th>Fecha Fin</th>
            <th>% penetración</th>
            <th>Tipo tiie</th>
            <th>Tiie</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="schema in lstSchemas" repeat-end="initTblSchemas()">
            <td>{{schema.nombre}}</td>
            <td>{{schema.descripcion}}</td>
            <td>{{schema.diasGracia}}</td>
            <td>{{schema.plazo}}</td>
            <td>{{schema.fechaCreacion}}</td>
            <td>{{schema.tasaInteres}}</td>
            <td>{{schema.fechaInicio}}</td>
            <td>{{schema.fechaFin}}</td>
            <td>{{schema.porcentajePenetracion}}</td>
            <td>{{schema.tipoTiie}}</td>
            <td>{{schema.tiie}}</td>
            <td>
                <button type="button" class="btn btn-success" ng-click="editSchema(schema)">
                    <span class="glyphicon glyphicon-edit"> </span>
                </button>
                <button type="button" class="btn btn-danger" ng-disabled="esquema.numAsignado > 0" ng-click="deleteSchema(schema)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>