<div class="row">
    <div class="col-md-12">
        <div class="dropdown" style="display:inline-block">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                {{currentFinancialName}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="financial in lstFinancial">
                    <a ng-click="setCurrentFinancial(financial)">{{financial.nombre}}</a>
                </li>
            </ul>
        </div>
        <button class="btn btn-warning" type="button" ng-click="addSchema()" ng-show="showAddBtn && !muestranuevoEsquema" >
            Nuevo Esquema
        </button>
    </div>
    <!-- <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div> -->
</div>