<hr>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label for="eNombre">Nombre:</label>
            <input type="text" class="form-control" id="eNombre" ng-model="esquemaHeader.nombre" ng-disabled="!isAddMode" placeholder="Nombre del nuevo esquema">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="eDescripcion">Descripción:</label>
            <input type="text" class="form-control" id="eDescripcion" ng-model="esquemaHeader.descripcion" ng-disabled="!isAddMode" placeholder="Información adicional">
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="tipoTiie">Tipo Tiie:</label>
            <select id="tipoTiie" ng-options="lst.tipoTiie for lst in lstTiie" ng-model="esquemaHeader.selectedOption" class="form-control"></select>
        </div>
    </div>
    <div class="col-sm-2">
        <div class="form-group">
            <label for="fTiie">Tiie:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="fTiie" ng-model="esquemaHeader.tiie" placeholder="Ej.: 10.0">
                <div class="input-group-addon">%</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
        <div class="form-group">
            <label for="eDiasGracia">Días Gracia:</label>
            <input type="text" class="form-control" id="eDiasGracia" ng-model="esquemaHeader.diasGracia" ng-disabled="!isAddMode" placeholder="Días libres de interes">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="ePlazo">Plazo:</label>
            <input type="text" class="form-control" id="ePlazo" ng-model="esquemaHeader.plazo" ng-disabled="!isAddMode" placeholder="Días de financiamiento">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group">
            <label for="txtInteresMoratorio">Interes Moratorio:</label>
            <input type="text" class="form-control" id="txtInteresMoratorio" ng-model="esquemaHeader.interesMoratorio" ng-disabled="!isAddMode" placeholder="Porcentaje Interes">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-3">
        <div class="form-group">
            <label for="fTasa">Tasa Intéres:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="fTasa" ng-model="esquemaHeader.tasaInteres" placeholder="Ej.: 10.0">
                <div class="input-group-addon">%</div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            <label for="fPorcentaje">Porcentaje Penetración:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="fPorcentaje" ng-model="esquemaHeader.porcentajePenetracion" placeholder="Ej.: 10.0">
                <div class="input-group-addon">%</div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group" id="calendar">
            <label for="fInicio">Fecha Inicio:</label>
            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" ng-model="esquemaHeader.fechaInicio">
                <input type="text" id="fInicio" class="form-control" ng-model="esquemaHeader.fechaInicio">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group" id="calendar">
            <label for="fFin">Fecha Fin:</label>
            <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy" ng-model="esquemaHeader.fechaFin">
                <input type="text" class="form-control" id="fFin" ng-model="esquemaHeader.fechaFin">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-6">
        <button type="button" class="btn btn-success" ng-click="backToPrincipal()">Regresar</button>
    </div>
    <div class="col-sm-6">
        <button type="button" ng-hide="showEditBtn" class="btn btn-primary pull-right" ng-click="validateSchemaHeader()">Guardar</button>
        <button type="button" ng-show="showEditBtn" class="btn btn-primary pull-right" ng-click="validateSchemaHeaderEdit()">Guardar Edición</button>
    </div>
</div>