<table id="tblSchemas" class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Días Gracia</th>
            <th>Plazo</th>
            <th>Tipo</th>
            <th>Fecha Creación</th>
            <th>Opciones</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="schema in lstSchemas" repeat-end="initTblSchemas()">
            <td>{{schema.nombre}}</td>
            <td>{{schema.descripcion}}</td>
            <td>{{schema.diasGracia}}</td>
            <td>{{schema.plazo}}</td>
            <td>{{schema.esFijo}}</td>
            <td>{{schema.fechaCreacion | date:'dd-MM-yyyy'}}</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="showSchemaDetail(schema)">
                    <span class="glyphicon glyphicon-eye-open"> </span>
                </button>
                <button type="button" class="btn btn-default" ng-click="editSchema(schema)">
                    <span class="glyphicon glyphicon-edit"> </span>
                </button>
                <button type="button" class="btn btn-default" ng-disabled="esquema.numAsignado > 0" ng-click="deleteSchema(schema)">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </td>
        </tr>
    </tbody>
</table>