<div class="row">
    <div class="col-md-4">
        <!-- <div class="dropdown" style="display:inline-block" ng-show="showDropDown">
            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                {{currentPayName}}
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li ng-repeat="pay in lstPayTypes">
                    <a ng-click="setCurrentpay(pay)">{{pay.pro_nombre}}</a>
                </li>
            </ul>
        </div> -->
    </div>
    <div class="col-md-4">
    </div>
    <div class="col-md-4">
    </div>
</div>