<top-Bar></top-Bar>
<div ng-controller="interesController">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">

                    <div class="ibox-content" style="height:60px">
                        <div class="col-md-12">
                            <div class="dropdown setInline">
                                <button class="btn btn-warning" type="button" data-toggle="dropdown">{{currentSucursalName}}
                                        <span class="caret"></span>
                                    </button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a ng-click="setCurrentSucursal()">Todas Sucursales</a>
                                    </li>
                                    <li ng-repeat="sucursal in lstSucursal">
                                        <a ng-click="setCurrentSucursal(sucursal)">{{sucursal.nombreSucursal}}</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="dropdown setInline" ng-show="ddlFinancialShow">
                                <button class="btn btn-warning" type="button" data-toggle="dropdown">
                                    {{currentFinancialName}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">
                                    <li ng-repeat="financial in lstFinancial">
                                        <a ng-click="setCurrentFinancial(financial)">{{financial.nombre}}</a>
                                    </li>
                                </ul>
                            </div>
                            <br/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <interes-Dashboard></interes-Dashboard>
        <div class="row">
            <div class="col-md-12">
                <div class="ibox float-e-margins">
                    <!-- <div class="ibox-title">
                    <interes-Content-Header></interes-Content-Header>
                </div >-->
                    <div class="ibox-content">
                        <div ng-switch on="currentPanel">
                            <div ng-switch-when="pnlInteres" class="animated fadeInRight">
                                <interes-Content-Header></interes-Content-Header>
                                <hr>
                                <interes-Interes></interes-Interes>
                            </div>
                            <div ng-switch-when="pnlAgencia" class="animated fadeInRight">
                                <interes-Cambio-Agencia></interes-Cambio-Agencia>
                            </div>
                            <div ng-switch-when="pnlFinanciera" class="animated fadeInRight">
                                <interes-Traspaso-Financiera></interes-Traspaso-Financiera>
                            </div>
                            <div ng-switch-when="pnlDetalleUnidad" class="animated fadeInRight">
                                <interes-Detalle-Unidad></interes-Detalle-Unidad>
                            </div>
                            <div ng-switch-when="pnlResumen" class="animated fadeInRight">
                                <interes-Resumen></interes-Resumen>
                            </div>
                            <div ng-switch-when="pnlPagoResumen" class="animated fadeInRight">
                                <interes-Pago-Resumen></interes-Pago-Resumen>
                            </div>
                            <div ng-switch-when="pnlInteresMovimientos" class="animated fadeInRight">
                                <interes-Movimientos></interes-Movimientos>
                            </div>
                            <div ng-switch-when="pnlInteresReduccion" class="animated fadeInRight">
                                <interes-Pago-Reduccion></interes-Pago-Reduccion>
                            </div>
                            <div ng-switch-when="pnlPagoInteres" class="animated fadeInRight">
                                <interes-Pago></interes-Pago>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>