<top-Bar></top-Bar>
<div class="wrapper wrapper-content  animated fadeInRight">
    <div class="row">
        <div class="col-md-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Conciliación</h5>
                </div>
                <div class="ibox-content">
                    <div ng-switch on="currentPanel" style="padding:10px; background-color: #fff; margin:8px;">
                        <div ng-switch-when="pnlCargaArchivo" class="animated fadeInRight">
                            <conciliacion-Uploader><conciliacion-Uploader>
                        </div>
                        <div ng-switch-when="pnlConciliar" class="animated fadeInRight">
                            <conciliacion-Detalle></conciliacion-Detalle>
                        </div>
                        <div ng-switch-when="pnlConciliarUnidades" class="animated fadeInRight">
                            <conciliacion-Detalle-Unidades></conciliacion-Detalle-Unidades>
                        </div>
                        <div ng-switch-when="pnlDocumentos" class="animated fadeInRight">
                            <conciliacion-Documentos></conciliacion-Documentos>
                        </div>
                        <div ng-switch-when="pnlDocumentosDetalle" class="animated fadeInRight">
                            <conciliacion-Documentos-Detalle></conciliacion-Documentos-Detalle>
                        </div>
                        <div ng-switch-when="pnlCompraVirtual" class="animated fadeInRight">
                            <compra-Virtual></compra-Virtual>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modalNuevaConciliacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title"> <span class="text-navy">Carga de Archivo</span> </h2>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                       

                        <label>Financiera</label>
                        <select class="form-control" ng-model="frmConciliacion.idFinanciera" ng-change="SelectFinanciera(financial)">
                            <option ng-repeat="financial in lstFinancial" value="{{financial.financieraID}}">{{financial.nombre}}</option>
                        </select>
                        <br>
                        <label>Periodo Contable</label>
                        <select class="form-control" ng-model="frmConciliacion.lblMes" disabled="">
                            <option ng-repeat="(key, mes) in lstMonth" >{{mes}}</option>
                        </select>
                        <br>
                        <label>Tipo conciliación</label>
                        <select class="form-control" ng-model="frmConciliacion.lbltipoconciliacion" >
                            <option ng-repeat="tipo in lstTipoConciliacion" value="{{tipo.idtipo}}" >{{tipo.tipoConciliacion}}</option>
                        </select>
                        <br>
                        <label>Carga Layout</label>
                        <div id="templeteDropzone"></div>
                        
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div ng-show="!loadingPanel">
                    <button type="button" class="btn btn-secondary pull-left" ng-click="resetFromulario()">Limpiar Formulario</button>
                    
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" ng-click="nexStep()">Continuar</button>
                </div>
                <div>
                    Registros {{cargandoPro}} ---{{maxPro}}
                </div>
                <div ng-show="loadingPanel">
                    <center>
                        <img src="assets/img/loading-light.gif" width="30"> Cargando ...{{cargandoPro}}
                    </center>
                    <div class="progress">
<div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="25" aria-valuemin={{cargandoPro}} aria-valuemax={{maxPro}} style="width: {{cargandoPro * 100 / maxPro}}%"></div>
                        <!-- <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin={{cargandoPro}} aria-valuemax={{maxPro}} style="width: 75%"></div> -->
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>