<!doctype html>
<html ng-app="planPisoApp">
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <!-- <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <link href="../assets/libs/sweetalert/dist/sweetalert.css" rel="stylesheet" type="text/css">
        <link href="../assets/css/font-awesome.css" rel="stylesheet">
        <link href="../assets/css/bootstrap-datepicker.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            .input-group-addon {
                background-color: #fff;
                border: 1px solid #E5E6E7;
                border-left: none;
                border-radius: 1px;
                color: inherit;
                font-size: 14px;
                font-weight: 400;
                line-height: 1;
                padding: 6px 12px;
                text-align: center;
            }

            .fa-lg{
                font-size: 25px;
            }
        </style>
    </head>
    <body>
        <div class="containerw">
            <div class="card panel-default" ng-controller="traspasoController" style="margin: 20px">
                <!-- <div class="panel-heading">Panel heading without title</div> -->
                <div class="card-body">
                    <div class="row">
                            <h2 class="col-sm-12">Traspasos Plan Piso</h2>
                        <div class="col-sm-7">
                            <div class="alert alert-secondary" 
                                 ng-show = "Data[0][0].estatus == 1"
                                 role="alert">
                                <h4 class="alert-heading">
                                    <i class="fa fa-info-circle" aria-hidden="true" style="font-size: 20px"></i> 
                                    ¡Traspasos entre financieras!
                                </h4>
                                <p>Se ha solicitado el cambio de la fecha promesa de pago debido a un traspaso entre financieras, favor de validar las fechas capturadas.</p>
                                <hr>
                                <button class="btn btn-danger btn-sm" style="margin-right: 10px;" ng-click="cancelar();">
                                    <i class="fa fa-ban"></i> Cancelar Solicitud
                                </button>

                                <button class="btn btn-success btn-sm float-right" ng-click="aceptar();">
                                    <i class="fa fa-check"></i>Cambiar fecha promesa de pago
                                </button>
                            </div>

                            <div class="alert alert-info"
                                 ng-show = "Data[0][0].estatus == 2"
                                 style="overflow: hidden;" 
                                 role="alert">
                                <h4 class="alert-heading">
                                    <i class="fa fa-info-circle" aria-hidden="true" style="font-size: 20px"></i> 
                                    ¡Traspasos entre financieras!
                                </h4>
                                <p>Se ha solicitado el cambio de la fecha promesa de pago debido a un traspaso entre financieras, favor de validar las fechas capturadas.</p>
                                <hr>
                                

                                <div class="row">
                                    <div class="col-sm-12 pull-right">
                                        <table border="0" class="pull-right">
                                            <tr>
                                                <td width="30"> <i class="fa fa-check" aria-hidden="true" style="font-size: 25px"></i> </td>
                                                <td class="text-right"> <b> Solicitud autorizada </b> </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>

                            <div class="alert alert-danger"
                                 ng-show = "Data[0][0].estatus == 0"
                                 style="overflow: hidden;" 
                                 role="alert">
                                <h4 class="alert-heading">
                                    <i class="fa fa-info-circle" aria-hidden="true" style="font-size: 20px"></i> 
                                    ¡Traspasos entre financieras!
                                </h4>
                                <p>Se ha solicitado el cambio de la fecha promesa de pago debido a un traspaso entre financieras, favor de validar las fechas capturadas.</p>
                                <hr>
                                

                                <div class="row">
                                    <div class="col-sm-12 pull-right">
                                        <table border="0" class="pull-right">
                                            <tr>
                                                <td width="30"> <i class="fa fa-check" aria-hidden="true" style="font-size: 25px"></i> </td>
                                                <td class="text-right"> <b> Solicitud rechazada </b> </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h5><small>Empresa:</small> <br>{{Data[0][0].emp_nombre}}</h5>
                                </div>
                                <div class="col-sm-12">
                                    <h5><small>Financiera actual:</small> <br>{{Data[0][0].FinancieraDestino}}</h5>
                                </div>
                                <div class="col-sm-12">
                                    <h5><small>Financiera destino:</small> <br>{{Data[0][0].FinancieraOrigen}}</h5>
                                </div>        
                            </div>
                        </div>
                    </div>
                    <br>
                    <table id="tblConciliacion" class="table table-hover borderless">
                        <thead>
                            <tr>
                                <th>Documento</th>
                                <th>Esquema actual</th>
                                <th>Esquema destino</th>
                                <th>Fecha Pormesa de Pago</th>
                                <th>-</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="(key, dato) in Registros">
                                <td>
                                    <b>{{dato.CCP_IDDOCTO}}</b>
                                </td>
                                <td>{{dato.EsquemaOrigen}}</td>
                                <td>{{dato.EsquemaDestino}}</td>
                                <td ng-show = "Data[0][0].estatus != 1"> {{dato.fechaPromesaPago}} </td>
                                <td ng-show = "Data[0][0].estatus == 1">
                                    <div class="input-group date" data-provide="datepicker" data-date-format="yyyy/mm/dd">
                                        <input type="text" class="form-control form-control-sm item_{{key}}" ng-model="dato.fechaPromesaPago" ng-blur="validaFechaPromesaRow(dato, key)">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <i ng-show="dato.icon_status == 0" class="fa fa-lg fa-warning text-warning" title="Fecha no permitida, la fecha debe ser igual o supuerior a la de origen"></i>
                                    <i ng-show="dato.icon_status == 1" class="fa fa-lg fa-check-circle text-success"></i>
                                    <i ng-show="dato.icon_status == 2" class="fa fa-lg fa-info-circle text-info" title="Se actualizara la fecha proporcionada"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <script src="../assets/js/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
        <script src="../assets/libs/sweetalert/dist/sweetalert.min.js"></script>
        <script src="../assets/js/bootstrap-datepicker.js"></script>
        <script type="text/javascript" src="controllerTraspaso.js"></script>
        <script type="text/javascript">
            $('.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: true,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                todayHighlight: true,
                format: "dd/mm/yyyy"
            });

            // $('[data-toggle="tooltip"]').tooltip()
        </script>
    </body>
</html>