<h2>
    <span class="text-navy">{{titleDocumentosDetalle}}</span>
    <button class="btn btn-success pull-right" ng-click="regresaConciliacionDocumento();">
		<i class="fa fa-angle-left" aria-hidden="true"></i> Regresar
	 </button>
</h2>
<hr>

<div class="row">
    <div class="col-md-12">
        <table id="tblDetalle" class="table table-striped">
            <thead>
                <tr>
                    <th>Documento</th>
                    <th>Cuenta</th>
                    <th>Concepto</th>
                    <th>VIN</th>
                    <th>Cargo</th>
                    <th>Abono</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="unidad in lstUnitDeatil">
                    <td>{{unidad.pld_iddocumento}}</td>
                    <td>{{unidad.pld_numcuenta}}</td>
                    <td>{{unidad.pld_concepto}}</td>
                    <td>{{unidad.pld_vin}}</td>
                    <td>{{unidad.pld_cargo}}</td>
                    <td>{{unidad.pld_abono}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>