<style>
.detailCol {
    padding-right: 20px;
    padding-bottom: 5px;
    font-weight: bold;
}
</style>
<h2>Detalle Unidad</h2>
<hr>
<div class="row">
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-list"></span> Ficha Técnica</h2>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-calendar"></span> Ingreso Inventario</h2>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-eye-open"></span> Datos Plan Piso</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <table>
            <tr>
                <td class="detailCol">Marca:</td>
                <td>{{unitDetail.marca}}</td>
            </tr>
            <tr>
                <td class="detailCol">Modelo:</td>
                <td>{{unitDetail.descModelo}}</td>
            </tr>
            <tr>
                <td class="detailCol">Color:</td>
                <td>{{unitDetail.colorExterior}}</td>
            </tr>
            <tr>
                <td class="detailCol">Año:</td>
                <td>{{unitDetail.modelo}}</td>
            </tr>
            <tr>
                <td class="detailCol">Transmisión:</td>
                <td>{{unitDetail.transmision}}</td>
            </tr>
            <tr>
                <td class="detailCol">Tipo Unidad </td>
                <td>{{unitDetail.tipoUnidad}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table>
            <tr>
                <td class="detailCol">Fecha Ingreso:</td>
                <td>{{unitDetail.vehFecrecibo}}</td>
            </tr>
            <tr>
                <td class="detailCol">Valor Inventario:</td>
                <td>{{unitDetail.valorInventario}}</td>
            </tr>
            <tr>
                <td class="detailCol">Factura:</td>
                <td>{{unitDetail.vehNofactplan}}</td>
            </tr>
            <tr>
                <td class="detailCol">Situación:</td>
                <td>{{unitDetail.situacion}}</td>
            </tr>
            <tr>
                <td class="detailCol">Días Inventario: </td>
                <td>{{unitDetail.diasInventario}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table>
            <tr>
                <td class="detailCol">Nombre Esquema:</td>
                <td>{{unitDetail.nombre}}</td>
            </tr>
            <tr>
                <td class="detailCol">Fecha Efectiva:</td>
                <td>{{unitDetail.fechaEfectiva}}</td>
            </tr>
            <tr>
                <td class="detailCol">Días Gracia:</td>
                <td>{{unitDetail.diasGracia}}</td>
            </tr>
            <tr>
                <td class="detailCol">Descripción: </td>
                <td>{{unitDetail.descripcion}}</td>
            </tr>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-list-alt"></span> Esquema</h2>
    </div>
    <div class="col-md-8">
        <h2><span class="glyphicon glyphicon-stats"></span> Detalle Esquema</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <table>
            <tr>
                <td class="detailCol">Tipo Esquema: </td>
                <td>{{unitDetail.tipoEsquema}}</td>
            </tr>
            <tr>
                <td class="detailCol">Nombre:</td>
                <td>{{unitDetail.nombre}}</td>
            </tr>
            <tr>
                <td class="detailCol">Financiamiento:</td>
                <td>{{unitDetail.diasFinanciamiento}} días</td>
            </tr>
            <tr>
                <td class="detailCol">Ampliación:</td>
                <td>{{unitDetail.diasAmpliacion}} días</td>
            </tr>
            <tr>
                <td class="detailCol">Plazo:</td>
                <td>{{unitDetail.plazo}} días</td>
            </tr>
            <tr>
                <td class="detailCol">Intéres Moratorio: </td>
                <td>{{unitDetail.interesMoratorio}} %</td>
            </tr>
            <tr>
                <td class="detailCol">Descripción:</td>
                <td>{{unitDetail.descripcion}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-8">
        <table id="tblAddByDate" class="table table-striped">
            <tr>
                <th>Estaus</th>
                <th>Tasa Interes</th>
                <th>Fecha Inicio</th>
                <th>Fecha Fin</th>
                <th>Porcentaje de Penetraciónn</th>
                <th>Tipo Tiie</th>
                <th>Tiie</th>                
            </tr>
            <tr ng-repeat="itemDetail in lstSchemeDetail">
                <td ng-class=" itemDetail.estatusCID == 1 ? 'celdaFondoVerde' : itemDetail.estatusCID == 2 ? 'celdaFondoAzul' : 'celdaFondoRojo'  ">{{itemDetail.estatusTexto}} </td>
                <td>{{itemDetail.tasaInteres | number:2}} % </td>
                <td>{{itemDetail.fechaInicio | date:'dd/MM/yyyy' : 'UTC'}}</td>
                <td>{{itemDetail.fechaFin | date:'dd/MM/yyyy' : 'UTC'}}</td>
                <td>{{itemDetail.porcentajePenetracion | number:2}} %</td>
                <td>{{itemDetail.TipotiieTexto}}</td>
                <td>{{itemDetail.tiie | number:2}} %</td>            
            </tr>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-primary" ng-click="setPnlInteres()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Regresar</button>
    </div>
    <div class="col-md-6">
        <button class="btn btn-primary pull-right" ng-click="setPnlInteresMovimientos()"> Ver Movimientos</button>
    </div>
</div>