<h2>Resumen</h2>
<!-- <hr> -->
<div class="row">
    <div class="ibox-content">
        <div class="row">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <h3>Financiera de Origen:</h3>
                    </div>
                    <div class="col-md-6">
                        Financiera:<br>
                        <h2><b>{{ lstFinancieraOrigen[0].nombre }}</b></h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <h3>Financiera Destino:</h3>
                    </div>
                    <div class="col-md-6">
                        Financiera:<br>
                        <h2><b>{{currentFinancial2.nombre}}</b></h2>
                    </div>
                    <div class="col-md-6">
                        Esquema:<br>
                        <h2><b>{{currentSchema2.nombre}}</b></h2>
                    </div>
                </div>
            </div>
            <hr>
            <br>
        </div>
    </div>
</div>
<!-- <div class="col-md-12"><hr></div> -->
<table id="tblUnidadesNuevas" class="table table-striped">
    <thead>
        <tr>
            <th>Numero Serie</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Importe</th>
            <th>Saldo</th>
            <th>Dias Interes</th>
            <th>Dias Restantes</th>
            <th>Interes Corte Pagado</th>
            <th>Interes MesActual</th>
            <th>Interes Acumulado Financiera</th>
            <th>Interes Total</th>

        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="unidad in lstNewUnits | filter:{isChecked:true}" repeat-end="setTableStyle('#tblUnidadesNuevas')">

            <td>{{unidad.vehNumserie}}</td>
            <td>{{unidad.descModelo}}</td>
            <td>{{unidad.modelo}}</td>
            <td>{{unidad.importe}}</td>
            <td>{{unidad.saldo}}</td>
            <td>{{unidad.diasInteres}}</td>
            <td>{{unidad.diasRestantes}}</td>
            <td>{{unidad.InteresCortePagado | currency}}</td>
            <td>{{unidad.InteresMesActual | currency}}</td>
            <td>{{unidad.InteresAcumuladoFinanciera | currency}}</td>
            <td>{{unidad.InteresTotal | currency}}</td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-sm-4">
        <button class="btn btn-danger" ng-click="setPanelInteres()">Cancelar</button>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button class="btn btn-primary pull-right" ng-click="Traspaso()">Finalizar</button>
    </div>
</div>