<div ng-show="showButtons">
    <button class="btn btn-primary" ng-click="setPnlTraspasoFinanciero(4)"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Cambiar Esquema</button>
    <button class="btn btn-primary" ng-click="setPnlTraspasoFinanciero(3)"><span class="glyphicon glyphicon-transfer" aria-hidden="true"></span> Traspaso Financiera</button>
    <button class="btn btn-primary" ng-click="callPayCapital()"><span class="glyphicon glyphicon-sort-by-attributes" aria-hidden="true"></span> Pagar Reducción </button>
    <button class="btn btn-primary" ng-click="callPayInteres()"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Generar Poliza Interes</button>
    <button class="btn btn-primary" ng-click="callPay()"><span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Generar Pago</button>

</div>
<div class="pull-right" style="margin:-5px;">
    <button class="btn btn-info setInline" type="button" ng-click="filterDay(30)"><i class="glyphicon glyphicon-sort"></i>&nbsp;30</button>
    <button class="btn btn-info setInline" type="button" ng-click="filterDay(60)"><i class="glyphicon glyphicon-sort"></i>&nbsp;60</button>
    <button class="btn btn-info setInline" type="button" ng-click="filterDay(90)"><i class="glyphicon glyphicon-sort"></i>&nbsp;90</button>
    <button class="btn btn-info setInline" type="button" ng-click="filterDay(1000)"><i class="glyphicon glyphicon-sort"></i>&nbsp;90+</button>
</div>