<style>
    .detailCol {
        padding-right: 20px;
        padding-bottom: 5px;
        font-weight: bold;
    }
</style>
<h2>Detalle Unidad</h2>
<hr>
<div class="row">
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-list"></span> Ficha Técnica</h2>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-calendar"></span> Ingreso Inventario</h2>
    </div>
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-eye-open"></span> Datos Plan Piso</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <table>
            <tr>
                <td class="detailCol">Marca:</td>
                <td>{{unitDetail.MARCA}}</td>
            </tr>
            <tr>
                <td class="detailCol">Modelo:</td>
                <td>{{unitDetail.VEH_TIPOAUTO}}</td>
            </tr>
            <tr>
                <td class="detailCol">Color:</td>
                <td>{{unitDetail.VEH_COLOEXTE}}</td>
            </tr>
            <tr>
                <td class="detailCol">Año:</td>
                <td>{{unitDetail.VEH_ANMODELO}}</td>
            </tr>
            <tr>
                <td class="detailCol">Transmisión:</td>
                <td>{{unitDetail.VEH_QCTRANSMISION}}</td>
            </tr>
            <tr>
                <td class="detailCol">Tipo Unidad </td>
                <td>{{unitDetail.UNC_TIPO}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table>
            <tr>
                <td class="detailCol">Fecha Ingreso:</td>
                <td>{{unitDetail.VEH_FECHOPE}}</td>
            </tr>
            <tr>
                <td class="detailCol">Valor Inventario:</td>
                <td>{{unitDetail.VEH_IMPFACTPLAN}}</td>
            </tr>
            <tr>
                <td class="detailCol">Factura:</td>
                <td>{{unitDetail.VEH_NOFACTPLAN}}</td>
            </tr>
            <tr>
                <td class="detailCol">Situación:</td>
                <td>{{unitDetail.VEH_SITUACION}}</td>
            </tr>
            <tr>
                <td class="detailCol">Días Inventario: </td>
                <td>{{unitDetail.diasInventario}}</td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table>
            <tr>
                <td class="detailCol">Documento: </td>
                <td>{{unitDetail.CCP_IDDOCTO}}</td>
            </tr>
            <tr>
                <td class="detailCol">VIN: </td>
                <td>{{unitDetail.VEH_NUMSERIE}}</td>
            </tr>
            <tr>
                <td class="detailCol">Nombre Esquema:</td>
                <td>{{unitDetailEsquema.nombre}}</td>
            </tr>
            <tr>
                <td class="detailCol">Fecha Efectiva:</td>
                <td>{{unitDetailEsquema.fechaEfectiva}}</td>
            </tr>
            <tr>
                <td class="detailCol">Días Gracia:</td>
                <td>{{unitDetailEsquema.diasGracia}}</td>
            </tr>
            <tr>
                <td class="detailCol">Descripción: </td>
                <td>{{unitDetailEsquema.descripcion}}</td>
            </tr>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-4">
        <h2><span class="glyphicon glyphicon-list-alt"></span>Ultimo Esquema</h2>
    </div>
    <div class="col-md-8">
        <h2><span class="glyphicon glyphicon-stats"></span>Movimientos</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <table>
            <!-- <tr>
                <td class="detailCol">Tipo Esquema: </td>
                <td>{{unitDetailEsquema.tipoEsquema}}</td>
            </tr> -->
            <tr>
                <td class="detailCol">Nombre:</td>
                <td>{{unitDetailEsquema.nombre}}</td>
            </tr>

            <tr>
                <td class="detailCol">Días Gracia:</td>
                <td>{{unitDetailEsquema.diasGracia}} días</td>
            </tr>
            <tr>
                <td class="detailCol">Plazo:</td>
                <td>{{unitDetailEsquema.plazo}} días</td>
            </tr>
            <tr>
                <td class="detailCol">Intéres Moratorio: </td>
                <td>{{unitDetailEsquema.interesMoratorio}} %</td>
            </tr>

        </table>
    </div>
    <div class="col-md-8">
        <table id="tblAddByDate" class="table table-striped">
            <tr>
                <th>Tipo Movimiento</th>
                <th>Sucursal Destino</th>
                <th>Sucursal Origen</th>
                <th>Interes acumulado</th>
                <th>Fecha</th>

            </tr>
            <tr ng-repeat="itemDetail in lstNewUnits | filter:{isChecked:true}">
                <td>{{itemDetail.tipoMovimiento }}</td>
                <td>{{itemDetail.sucorigen }}</td>
                <td>{{itemDetail.sucdestino }}</td>
                <td>{{itemDetail.monto | number:2}}</td>
                <td>{{itemDetail.fecha | date:'dd/MM/yyyy' : 'UTC'}}</td>

            </tr>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        <button class="btn btn-primary" ng-click="setPnlInteres()"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Regresar</button>
    </div>
    <!-- <div class="col-md-6">
        <button class="btn btn-primary pull-right" ng-click="setPnlInteresMovimientos()"> Ver Movimientos</button>
    </div> -->
</div>