<div class="row">
    <div class="col-md-6">
        <h2><strong>Validar Compensacion</strong></h2>
    </div>
    <div class="col-md-6">
        <div class="alert alert-info" role="alert">
            <form class="form-inline">
                <div class="form-group">
                    <label for="exampleInputName2">Saldo a Compensar:</label>
                    <input type="text" class="form-control" ng-model="saldoCompensar">
                </div>
            </form>
            <!-- <div class="row">
                <div class="col-md-12"> -->
            <!-- <div class="col-md-6 text-right">
                        Saldo a Compensar:
                    </div>
                    <div class="col-md-6">
                        <input type="text" class="form-control" ng-model="saldoCompensar">
                    </div> -->
            <!-- </div>
            </div> -->
        </div>
        <!-- <table class="table table-striped">
            <tr>
                <td class="left" style="width:200px">Saldo a Compensar: </td>
                <td><input type="text" class="form-control" ng-model="saldoCompensar" style="width: auto"></td>
            </tr>
        </table> -->
    </div>
    <hr>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">{{unidadCompensacion.CCP_IDDOCTO}}</div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <label>Número de Serie: </label>
                        <span>{{unidadCompensacion.vehNumserie}}</span>
                    </div>
                    <div class="col-md-4">
                        <label>Modelo: </label>
                        <span>{{unidadCompensacion.VEH_TIPOAUTO}}</span>
                    </div>
                    <div class="col-md-4">
                        <label>Año: </label>
                        <span>{{unidadCompensacion.VEH_ANMODELO}}</span>
                    </div>
                    <div class="col-md-4">
                        <label>Importe: </label>
                        <span>{{unidadCompensacion.importe | currency}}</span>
                    </div>
                    <div class="col-md-4">
                        <label>Financiera: </label>
                        <span>{{unidadCompensacion.financiera}}</span>
                    </div>
                    <div class="col-md-4">
                        <label>Saldo: </label>
                        <span>{{unidadCompensacion.saldo | currency}}</span>
                    </div>
                    <div class="col-md-4">
                        <label>Días restantes: </label>
                        <span>{{unidadCompensacion.diasRestantes}}</span>
                    </div>
                    <div class="col-md-4">
                        <label>Interes mes actual: </label>
                        <span>{{unidadCompensacion.InteresMesActual | currency}}</span>
                    </div>
                    <div class="col-md-4">
                        <label>Interes total: </label>
                        <span>{{unidadCompensacion.InteresTotal | currency}}</span>
                    </div>
                    <div class="col-md-4">
                        <label>Interes acumulado: </label>
                        <span>{{unidadCompensacion.InteresAcumulado}}</span>
                    </div>
                    <div class="col-md-4">
                        <label>Interes Acumulado Financiera: </label>
                        <span>{{unidadCompensacion.InteresAcumuladoFinanciera}}</span>
                    </div>
                </div>
            </div>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th class="left" style="width:200px">Documento</th>
                        <th>Fecha</th>
                        <th class="text-right">Monto</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="factura in facturasTotal">
                        <td>{{factura.tipoFactura}}</td>
                        <td>{{factura.factura}}</td>
                        <td>{{factura.fecha}}</td>
                        <td class="text-right">{{factura.total | currency}}</td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="3" class="text"><strong>Total</strong></td>
                        <td class="text-right">{{montoTotal | currency}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
    <!-- <div class="col-md-12"> -->
    <!--  <div class="col-md-5">
            <table class="table table-striped">
                <tr>
                    <th class="left" style="width:200px">Rubro</th>
                    <th class="left" style="width:200px">Documento</th>
                    <th style="text-align: right">Monto</th>
                </tr>
                <tr>
                    <td class="left" style="width:200px">Serie de Unidad: </td>
                    <td col-span=2 style="text-align: right">{{vin }}</td>
                </tr>
                <tr>
                    <td class="left" style="width:200px">Factura de unidad: </td>
                    <td style="text-align: right">{{faturaunidad }}</td>
                    <td style="text-align: right">{{facunidadmonto | number :2}}</td>
                </tr>
                <tr>
                    <td class="left" style="width:200px">Factura de accesorios: </td>
                    <td style="text-align: right">{{facaccesorios }}</td>
                    <td style="text-align: right">{{facaccesoriosmonto | number :2}}</td>
                </tr>
                <tr>
                    <td class="left" style="width:200px">Fatura de servicio: </td>
                    <td style="text-align: right">{{facservicio }}</td>
                    <td style="text-align: right">{{facserviciomonto | number :2}}</td>
                </tr>
                <tr>
                    <td class="left">Enganche o Pago Inicial: </td>
                    <td></td>
                    <td style="text-align: right">{{pagosiniciales | number :2}}</td>
                </tr>
                <tr>
                    <td class="left">Diferencia vs Plan Piso: </td>
                    <td></td>
                    <td style="text-align: right">{{difplanpiso | number :2}}</td>
                </tr>
                <tr>
                    <td class="left">Nota de cargo ComsionDealer: </td>
                    <td style="text-align: right">{{notacargo }}</td>
                    <td style="text-align: right">{{comisiondealer | number :2}}</td>
                </tr>
                <tr>
                    <td class="left" style="width:200px">Cliente Nota de crédito: </td>
                    <td></td>
                    <td style="text-align: right">{{vin }}</td>
                </tr>
                <tr>
                    <td class="left">Incentivo penetracion: </td>
                    <td></td>
                    <td style="text-align: right">{{diferenciaSaldo | number :2}}</dt>
                </tr>
                <tr>
                    <td class="left" style="width:200px">UDI por pagar: </td>
                    <td></td>
                    <td style="text-align: right">{{facunidadmonto | number :2}}</td>
                </tr>
                <tr>
                    <td class="left" style="width:200px">Precio distribuidor GE: </td>
                    <td></td>
                    <td style="text-align: right">{{facunidadmonto | number :2}}</td>
                </tr>
                <tr>
                    <td class="left" style="width:200px">Subsidio dealer tasa vehiculo: </td>
                    <td></td>
                    <td style="text-align: right">{{facunidadmonto | number :2}}</td>
                </tr>
                <tr>
                    <td class="left" style="width:200px">Valor Factura Plan Piso: </td>
                    <td></td>
                    <td style="text-align: right">{{facunidadmonto | number :2}}</td>
                </tr>
                <tr>
                    <td class="left" style="width:200px">Saldo Serie PP x Pagar: </td>
                    <td></td>
                    <td style="text-align: right">{{facunidadmonto | number :2}}</td>
                </tr>
            </table>
        </div> -->
    <!-- <div class="col-md-7">
            <table class="table table-striped">
                <tr>
                    <td class="left" style="width:200px">Saldo a Compensar: </td>
                    <td><input type="text" class="form-control" ng-model="saldoCompensar" style="width: 100px"></td>
                </tr>
            </table>
        </div> -->
    <!-- </div> -->
</div>
<div>
    <button class="btn btn-primary" ng-click="setPnlInteres()" style="margin:10px"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Regresar</button>
    <button class="btn btn-primary pull-right" ng-click="setPnlCompensacionResumen(saldoCompensar)" style="margin:10px">Siguiente
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
</div>