<div class="col-md-12">
    <h2>{{TituloTraspaso}}</h2>
</div>
<div class="ibox float-e-margins" ng-init="inicioTraspaso()">
    <div class="row">
        <div class="ibox-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <h3>Financiera de Origen:</h3>
                    </div>
                    <div class="col-md-6">
                        Financiera:<br>
                        <h2><b>{{ lstFinancieraOrigen[0].nombre }}</b></h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <h3>Financiera Destino:</h3>
                    </div>
                    <div class="col-md-12">
                        Financiera:<br>
                        <div class="dropdown" style="display:inline-block">
                            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                {{currentFinancialName2}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="financial in lstTraspasoFinanciera">
                                    <a ng-click="setCurrentFinance2(financial)">{{financial.nombre}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        Esquema:<br>
                        <div class="dropdown" style="display:inline-block">
                            <button class="btn btn-warning dropdown-toggle" type="button" data-toggle="dropdown">
                                {{currentSchemaName2}}
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <li ng-repeat="schema in lstSchemas">
                                    <a ng-click="setCurrentSchema2(schema)">{{schema.nombre}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label for="ftienereduccion">Unidades doble estrella:</label>
                            <div class="input-group">
                                <input type="checkbox"  ng-model="dobleEstrella" ng-click="cambioEstrella()"> 
                                <!-- ng-checked=""  ng-click="" ng-click="!dobleEstrella"-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-md-4">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <table id="tblSchemas" class="table table-striped">
            <thead>
                <tr>
                    <th>Documento</th>
                    <th>Numero Serie</th>
                    <th>Modelo</th>
                    <th>Año</th>
                    <th>Importe</th>
                    <th>Saldo</th>
                    <th>Dias Interes</th>
                    <th>Dias Restantes</th>
                    <th>Interes Corte Pagado</th>
                    <th>Interes MesActual</th>
                    <th>Interes Acumulado Financiera</th>
                    <th>Interes Total</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="unidad in lstNewUnits | filter:{isChecked:true}" repeat-end="initTblSchemas()">
                    <td>{{unidad.CCP_IDDOCTO}}</td>
                    <td>{{unidad.vehNumserie}}</td>
                    <td>{{unidad.VEH_TIPOAUTO}}</td>
                    <td>{{unidad.VEH_ANMODELO}}</td>
                    <td>{{unidad.importe}}</td>
                    <td>{{unidad.saldo}}</td>
                    <td>{{unidad.diasInteres}}</td>
                    <td>{{unidad.diasRestantes}}</td>
                    <td>{{unidad.InteresCortePagado | currency}}</td>
                    <td>{{unidad.InteresMesActual | currency}}</td>
                    <td>{{unidad.InteresAcumuladoFinanciera | currency}}</td>
                    <td>{{unidad.InteresTotal | currency}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <button class="btn btn-primary" ng-click="setPnlInteres()" style="margin:10px"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Cancelar</button>
    <button class="btn btn-primary pull-right" ng-click="setPanelResumen()" style="margin:10px">Siguiente
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    </button>
</div>