<h2>Resumen</h2>
<hr>
<div class="ibox-content">
    <div class="col-md-4">
        <h3>Estos registros generaran la poliza:</h3>
    </div>
    <div class="col-md-4">

    </div>
    <div class="col-md-4">

    </div>
    <hr>
</div>
<table id="tblUnidadesNuevas" class="table table-striped">
    <thead>
        <tr>
            <th>Documento</th>
            <th>Numero Serie</th>
            <th>Financiera</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Importe</th>
            <th>Saldo</th>

            <th>Dias Restantes</th>
            <th>Interes Corte Pagado</th>
            <th>Interes MesActual</th>
            <!-- <th>Interes Acumulado Financiera</th>
                        <th>Interes Total</th> -->
            <th>Interes Total</th>

        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="unidad in lstNewUnits | filter:{isChecked:true}" repeat-end="setTableStyle('#tblUnidadesNuevas')">

            <td>{{unidad.CCP_IDDOCTO}}</td>
            <td>{{unidad.vehNumserie}}</td>
            <td>{{unidad.financiera}}</td>
            <td>{{unidad.VEH_TIPOAUTO}}</td>
            <td>{{unidad.VEH_ANMODELO}}</td>
            <td>{{unidad.importe}}</td>
            <td>{{unidad.saldo}}</td>

            <td>{{unidad.diasRestantes}}</td>
            <td>{{unidad.InteresCortePagado | currency}}</td>
            <td>{{unidad.InteresMesActual | currency}}</td>
            <td>{{unidad.InteresMes | currency}}</td>

        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-sm-4">
        <button class="btn btn-danger" ng-click="setPnlInteres()">Cancelar</button>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button class="btn btn-primary pull-right" ng-click="CrearProvision()">Finalizar</button>
    </div>
</div>