<h2>Resumen</h2>
<!-- <hr> -->
<div class="row">
    <div class="ibox-content">
        <div class="row">
            <div class="row">
                <div class="col-md-6">
                    <div class="col-md-12">
                        <h3>Financiera de Origen:</h3>
                    </div>
                    <div class="col-md-6">
                        Financiera:<br>
                        <h2><b>{{ lstFinancieraOrigen[0].nombre }}</b></h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="col-md-12">
                        <h3>Financiera Destino:</h3>
                    </div>
                    <div class="col-md-6">
                        Financiera:<br>
                        <h2><b>{{currentFinancial2.nombre}}</b></h2>
                    </div>
                    <div class="col-md-6">
                        Esquema:<br>
                        <h2><b>{{currentSchema2.nombre}}</b></h2>
                    </div>
                </div>
            </div>
            <hr>
            <br>
        </div>
    </div>
</div>
<!-- <div class="col-md-12"><hr></div> -->
<table id="tblUnidadesNuevas2" class="table table-striped">
    <thead>
        <tr>
            <th>Documento</th>
            <th>Numero Serie</th>
            <th>Modelo</th>
            <th>Año</th>
            <th>Importe</th>
            <th>Saldo</th>
            <th>Dias Interes</th>
            <th>Dias Restantes</th>
            <th>Interes Corte Pagado</th>
            <th>Interes MesActual</th>
            <th>Interes Acumulado Financiera</th>
            <th>Interes Total</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="unidad in lstNewUnits | filter:{isChecked:true}" repeat-end="setTableStyle('#tblUnidadesNuevas2')">
            <td>{{unidad.CCP_IDDOCTO}}</td>
            <td>{{unidad.vehNumserie}}</td>
            <td>{{unidad.VEH_TIPOAUTO}}</td>
            <td>{{unidad.VEH_ANMODELO}}</td>
            <td>{{unidad.importe}}</td>
            <td>{{unidad.saldo}}</td>
            <td>{{unidad.diasInteres}}</td>
            <td>{{unidad.diasRestantes}}</td>
            <td>{{unidad.InteresCortePagado | currency}}</td>
            <td>{{unidad.InteresMesActual | currency}}</td>
            <td>{{unidad.InteresAcumuladoFinanciera | currency}}</td>
            <td>{{unidad.InteresTotal | currency}}</td>
        </tr>
    </tbody>
</table>

<div class="row">
    <div class="col-sm-4">
        <button class="btn btn-danger" ng-click="setPanelInteres()">Cancelar</button>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button class="btn btn-primary pull-right" ng-click="Traspaso( modoTraspaso.flujo )">Finalizar</button>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="mod-traspaso" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Traspaso entre financieras</h4>
            </div>
            <div class="modal-body">
                <p>Este traspaso entre financieras se realizara con "flujo" para ello debe proporcionar la fecha promesa de pago.</p>
                
                <label>Fecha promesa de pago</label>
                <div class="input-group date" data-provide="datepicker" data-date-format="yyyy/mm/dd">
                    <input type="text" class="form-control" ng-model="fechaPromesa.pago" ng-blur="fnFechaPromesaPago()">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
                <br><br>
                <table id="tblUnidadesNuevas" class="table table-striped">
                    <thead>
                        <tr>
                            <th>Documento</th>
                            <th>Numero Serie</th>
                            <th>Modelo</th>
                            <th>Año</th>
                            <th>Importe</th>
                            <th>Saldo</th>
                            <th>Fecha Promesa de Pago</th>
                            <th>-</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, unidad) in lstNewUnits | filter:{isChecked:true}" repeat-end="setTableStyle('#tblUnidadesNuevas')">
                            <td>{{unidad.CCP_IDDOCTO}}</td>
                            <td>{{unidad.vehNumserie}}</td>
                            <td>{{unidad.VEH_TIPOAUTO}}</td>
                            <td>{{unidad.VEH_ANMODELO}}</td>
                            <td>{{unidad.importe}}</td>
                            <td>{{unidad.saldo}}</td>
                            <td ng-show="!flagInputFechaPromesa">{{unidad.fechaPromesaPago}}</td>
                            <td ng-show="flagInputFechaPromesa">
                                <div class="input-group date" data-provide="datepicker" data-date-format="yyyy/mm/dd">
                                    <input type="text" class="form-control" ng-model="unidad.fechaPromesaPago" ng-blur="validaFechaPromesaRow(unidad, key)">
                                    <div class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar"></span>
                                    </div>
                                </div>
                            </td>
                            <td>
                                <i ng-show="unidad.estatusPromesaPago == 0" class="fa-fechapago text-danger fa fa-times-circle" aria-hidden="true"></i>
                                <i ng-show="unidad.estatusPromesaPago == 1" class="fa-fechapago text-info fa fa-check-circle" aria-hidden="true"></i>
                                <i ng-show="unidad.estatusPromesaPago == 2" class="fa-fechapago text-warning fa fa-exclamation-triangle" aria-hidden="true"></i>
                            </td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="6">&nbsp;</td>
                            <td colspan="2">
                                <button class="btn btn-default btn-sm pull-right" ng-click="showInputFechaPromesa()">Cambiar Fechas</button>
                            </td>
                        </tr>
                    </tfoot>
                </table>

                <br>
                <div class="alert alert-danger" ng-show="numAlert == 1"> <strong>Advertencia!</strong> La fecha no es permitida, asegurate de proporcionar una fecha futura como promesa de pago. </div>
                <div class="alert alert-warning" ng-show="numAlert == 3"> <strong>Advertencia!</strong> La fecha proporcionada requiere una autorización. </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                <button ng-show="numAlert == 3" type="button" class="btn btn-warning" ng-click="TraspasoFlujo()">Solicitar fecha promesa de pago</button>
                <button ng-show="numAlert == 2" type="button" class="btn btn-primary" ng-click="TraspasoFlujo()">Cambia fecha promesa de pago</button>
            </div>
        </div>
    </div>
</div>