<div class="col-md-12">
    <h2>Validar Pago</h2>
    <hr>
</div>

<div class="row">
    <div class="col-md-12">
        <table id="tblSchemas" class="table table-striped">
            <thead>
                <tr>
                    <th>Documento</th>
                    <th>Numero Serie</th>
                    <th>Financiera</th>
                    <th>Modelo</th>
                    <th>Año</th>

                    <th>Saldo</th>
                    <th>Interes MesActual</th>
                    <!-- <th>Interes Acumulado Financiera</th>
                        <th>Interes Total</th> -->
                    <th>Interes a Pagar</th>
                    <th>Total Pagar</th>
                    <th>Fecha promesa</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="unidad in lstNewUnits | filter:{isChecked:true}" repeat-end="initTblSchemas()">

                    <td>{{unidad.CCP_IDDOCTO}}</td>
                    <td>{{unidad.vehNumserie}}</td>
                    <td>{{unidad.financiera}}</td>
                    <td>{{unidad.VEH_TIPOAUTO}}</td>
                    <td>{{unidad.VEH_ANMODELO}}</td>

                    <td>{{unidad.saldo}}</td>
                    <td>{{unidad.InteresMesActual | currency}}</td>

                    <td><input type="text" class="form-control" ng-model="unidad.InteresMes" style="width: 100px"></td>
                    <td>{{Sumar(unidad) | currency}}</td>
                    <td>{{unidad.FechaPromesa| date:'dd/MM/yyyy'}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div>
    <button class="btn btn-primary" ng-click="setPnlInteres()" style="margin:10px"><span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> Regresar</button>
    <button class="btn btn-primary pull-right" ng-click="setPnlPagoUnidadResumen()" style="margin:10px">Siguiente 
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            </button>
</div>