<hr>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="fTasa">Tasa Intéres:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="fTasa" ng-model="esquemaDetalle.tasaInteres" placeholder="Ej.: 10.0">
                <div class="input-group-addon">%</div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="fPorcentaje">Porcentaje Penetración:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="fPorcentaje" ng-model="esquemaDetalle.porcentajePenetracion" placeholder="Ej.: 10.0">
                <div class="input-group-addon">%</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group" id="calendar">
            <label for="fInicio">Fecha Inicio:</label>
            <div class="input-group date" data-provide="datepicker">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" id="fInicio" ng-model="esquemaDetalle.fechaInicio" value={{fechaInicio}} placeholder="dd/mm/yyyy">
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group" id="calendar">
            <label for="fFin">Fecha Fin:</label>
            <div class="input-group date" data-provide="datepicker">
                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                <input type="text" class="form-control" id="fFin" ng-model="esquemaDetalle.fechaFin" value={{fechaFin}} placeholder="dd/mm/yyyy">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label for="tipoTiie">Tipo Tiie:</label>
            <select id="tipoTiie" ng-options="lst.texto for lst in lstTiie" ng-model="esquemaDetalle.selectedOption" class="form-control"></select>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <label for="fTiie">Tiie:</label>
            <div class="input-group">
                <input type="text" class="form-control" id="fTiie" ng-model="esquemaDetalle.tiie" placeholder="Ej.: 10.0">
                <div class="input-group-addon">%</div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-6">
        <button type="button" class="btn btn-success" ng-click="backToPrincipal()">Regresar</button>
    </div>
    <div class="col-sm-6">
        <button type="button" ng-hide="showEditBtn" class="btn btn-primary pull-right" ng-click="validateSchemaDetails()">Agregar</button>
        <button type="button" ng-show="showEditBtn" class="btn btn-primary pull-right" ng-click="validateSchemaDetailsEdit()">Guardar Edición</button>
        <button type="button" ng-show="showEditBtn" class="btn btn-danger pull-right" ng-click="cancelDetailEdit()">Cancelar</button>
    </div>
</div>