<table id="tblUnidadesNuevasVin" class="table table-striped">
    <thead>
        <tr>
            <th>Num Documento</th>
            <!-- <th>Descripcion</th>
            <th>Tipo documento</th> -->

            <th>VIN</th>
            <th>Descripción Modelo</th>
            <th>Modelo</th>
            <th>Valor plan piso</th>
            <th>Fecha Interes Acumulado</th>
            <th>Interes Acumulado</th>
            <th>Saldo Inicial</th>
            <th>
                <input type="checkbox" ng-click="checkAllUnits()" ng-model="allUnits.isChecked" style="margin-left: 20px;">
            </th>
        </tr>
    </thead>
    <tbody>
        <!-- <tr ng-repeat="unidad in lstNewUnits" repeat-end="initTblUnidadesNuevas()"> -->
            <tr ng-repeat="unidad in lstNewUnits" ng-class="{'alert alert-danger': unidad.isDisabled==true}">
            <td>{{unidad.CCP_IDDOCTO}}</td>
            <!-- <td>{{unidad.DES_CARTERA}}</td>
            <td>{{unidad.DES_TIPODOCTO}}</td> -->
            <td>{{unidad.veh_numserie}}</td>
            <td>{{unidad.descModelo}}</td>
            <td>{{unidad.modelo}}</td>
            <td>{{unidad.IMPORTE | currency}}</td>
            <td style="width:200px">
                <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy">
                    <input type="text" class="form-control" ng-model="unidad.fechaRecibo">
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </td>
            <td>
                <input type="text" class="form-control" ng-model="unidad.interes" style="width: 100px">
            </td>
            <td><input type="text" class="form-control" ng-model="unidad.SALDO" style="width: 100px"></td>
            <td style="text-align: center;">
                <input type="checkbox" ng-model="unidad.isChecked" ng-init="unidad.isValid=true" ng-disabled="unidad.isDisabled" ng-click="EvaluarUnidad(unidad)">
            </td>
        </tr>
    </tbody>
</table>

